* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --transition: all 0.3s ease;
  --bg: #EDF2EC;
}
html{
  background-color: var(--bg);
}
.page{  
  max-width: 600px;
  margin: 0 auto;
}

.bayan {
  margin: 1rem;
}

input {
  display: none !important;
}

label{
  transition: var(--transition);
}

.bayan__section{
  border-top: 0.2rem solid;
} 
.bayan__section:nth-child(2){
  margin-top: 2rem;
}
.bayan__content{
  display: flex;
  flex-direction: column;
  
}
.bayan__heading{
  display: flex;
  flex-direction: column;
}
.bayan__heading{
  font-size: 30px;
}

.bayan__img {
  height: 0;
  transition: var(--transition);
  margin: auto;
}

/* input:checked + label, input:hover + label{
  font-size: 20px;
  background-color: brown;
} */
label:hover .bayan__img, input:checked + label .bayan__img{
  height: 30vh;
}
